<div id="about" class="content">
<!--<h2>Пресс-релиз Railscasts.ru</h2>
  <p>  Добрый день, дорогие друзья! Мы рады Вам сообщить, с 9 июня 2010 года началась жизнь нашего проекта. На данном сайте будут публиковаться скринкасты, затрагивающие различные области применения фреймворка Ruby on Rails.
</p><p>Развитие проекта стало возможным благодаря неоценимой поддержке Магистерского Корпоративного Факультета (МКФ) СПбГУ ИТМО и межвузовского студенческого бизнес-инкубатора “QD”, которые любезно предоставили нам информационно–техническую базу, а проще говоря приютили нашу небольшую команду под своей крышей (в прямом смысле). В скором времени будут решены вопросы с сервером, а пока мы начинаем готовить переводы скринкастов, чтобы нагнать Райна и уже идти в ногу со временем! 
</p><p><a href="http://mkf.ifmo.ru/">Магистерский Корпоративный Факультет (МКФ)</a><br/></p>-->
  <h2>О Railscasts</h2>
  <p>
 Добрый день, дорогие друзья! Мы рады Вам сообщить, с 9 июня 2010 года началась жизнь нашего проекта. На данном сайте будут публиковаться скринкасты, затрагивающие различные области применения фреймворка Ruby on Rails.
Каждую неделю <a href="http://workingwithrails.com/person/6491-ryan-bates">Райн Бейтс</a> выкладывает новый эпизод Railscasts, обучая приемам и технике работы с <a href="http://www.rubyonrails.com/">Ruby on Rails</a>. Эти скринкасты - короткие и сфокусированные на одной конкретной технике/технологии, так что вы можете быстро войти в курс дела и применить данную технологию в ваших проектах. Аудиторию проекта составляют разработчики Ruby on Rails среднего уровня, но и новички, и даже эксперты могут для себя вынести что-то полезное.</p>

  
  <h2>Контакты</h2>

  <p>Если у вас есть идеи, предложения, комментарии, вопросы и т.д. мы будем рады их обсудить. <br>
  Пишите на адрес: info@railscasts.ru

  </p>
  

  <h2>Лицензия</h2>
  <p>Все эпизоды railscasts находятся под <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">Creative Commons лицензией</a>. Не возбраняется распространение оригинальной версии видео-уроков в некоммерческих целях. Если вы хотите каким-либо образом отредактировать видео-уроки, свяжитесь с <a href="http://workingwithrails.com/person/6491-ryan-bates">правообладателем</a> (Райном Бейтсом).</p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png" /></a></p>
</div>



