<% title "Поддержи свободное ПО", false %>

<div class="content">
  <%= image_tag "give_back.jpg", :size => "158x60", :id => "give_back" %>
  <p>Много сил и времени тратится на создание бесплатного программного обеспечения с открытым кодом. В <%= link_to "200-м выпуске", episode_path(200) %> мы призываем всех включиться в “обратную связь” и поддержать разработчиков свободного ПО.</p>
  <div id="give_back_instructions">
    <p><strong>Вот как это можно сделать:</strong></p>
    <ol>
      <li>Открой свой самый большой проект на Rails</li>
      <li>Просмотри все плагины и гемы, которые в нем используются</li>
      <li>
        И поддержи разработчиков каждого из них:
        <ul>
          <li>Пожертвуй денег</li>
          <li>Помоги пофиксить баг</li>
          <li>Дополни документацию</li>
          <li>Или просто поблагодари!</li>
        </ul>
      </li>
    </ol>
  </div>
  <p>Меняй жизнь к лучшему - поддержи OPEN SOURCE!</p>
</div>
