<div id="news" class="content">

<p>
Выпуск релиз-кандидатов идет по плану. Во втором релиз-кандидате толька пару незначительных изменений по сравнению с первым, а это значит, что если не обнаружаться какие-либо проблемы после этого выпуска, мы постараемся выпустить финальный релиз Rails 3.0 за неделю (!!!).
</p><p>
Поэтому, пожалуйста, помогите нам отсмотреть все ошибки. Особенно в наших двух основных зависимостях: Bundler и ARel. Они оба близки к релизу их версий 1.0, и они появятся одновременно с финальным релизом Rails 3.0.
</p><p>
Вы можете посмотреть полный список всех внесенных изменений на прекрасном обновленном Github'e. Сравнение RC1 и RC2 .
</p><p>
Как всегда, установка последней версии: gem install rails --pre
</p><p>
Отметим также, что Rails 3.0 теперь имеет собственную стабильную ветку . Мастер ветка теперь отведенна под разработку Rails 3.1. (Это верно, мы уже делаем её, и это будет волшебно!).
</p>
<br>
<br>
<h2>Rails 3: Релиз кандидат</h2>
<p>
Братцы! Ура! Сколько раз я слышал: “Почти вышли...” И вот теперь я уже готов в это поверить, теперь до выхода Rails 3 осталось совсем чуть-чуть!
</p><p>   
В новых рельсах разработчики пофиксили множество малозаметных багов, а так же существенно ускорили работу приложений в development окружении. Существенно ускорился старт больших, навороченных приложений.
</p><p>   
Осталось только  немного побороться за быстродействие Active Record, которое в основном завязано на скорость работы Arel. Когда эта задача будет решена, мы увидим релиз!
</p><p>
Чтобы установить Rails 3 RC по прежнему необходимо выполнить gem install rails --pre
</p><p>
P.S. До релиза осталось всего пару недель!
</p>
</div>
