<div id="news" class="content">
<p>
Всем Привет! Наша команда раз в неделю готовит по одному видеокасту.
Мы очень хотим догнать Райана и выкладывать актуальные свежие уроки. И поэтому нужна ваша помощь, чтобы ускориться. Мы ищем людей, которых не пугает английская речь, для участия в процессе перевода: "снятии" звуковой дорожки в английский текст(speech-to-text) и/или перевода этого английского текста на русский.
</p><p>
Внимание! Эта работа не оплачивается, но это вовсе не значит, что мы не умеем благодарить. При согласии Вы внесете неоценимый вклад в популяризации языка Ruby и Rails 3!
</p><p>
Мы так же рассмотрим и другие ваши предложения по проекту! =) Пишите нам на info@railscasts.ru !
</p><p>
С Уважением, команда Railscasts.RU =)
</p>
</div>
