<div id="about">  
<h2>Конференция RailsClub'Moscow, 30 октября 2010г.</h2>
  <p> 
<a href="http://Railsclub.ru"><img src="http://RailsClub.ru/images/header/logo.png"></a> – это сообщество разработчиков на языке <a href="http://www.ruby-lang.org/en/">Ruby</a> и фреймворке <a href="http://rubyonrails.org">Ruby on Rails</a>. Наша цель – популяризация языка программирования Ruby и фреймворка Ruby on Rails, как идеальной среды для разработки интернет-проектов. Конференции <a href="http://railsclub.ru">RailsClub.ru</a> – это уникальная площадка, где можно пообщаться с коллегами, получить и поделиться живым опытом, а так же найти партнеров для своего проекта.
</p><br><p>
RailsClub вышел с летних каникул и начинает серию конференций по Ruby и Ruby on Rails. Мы сменили место проведения на более профессиональную и большую площадку с удобными диванами, баром, большим экраном, сценой и качественным оборудованием.
В этот раз нас ждет прямая трансляция, организованная компанией <a href="http://telemarket.ru">TeleMarker</a>. Все материалы будут опубликованы на сайте мероприятия.
</p><br><p>
<strong>Место проведения:</strong> В бывшем Клубе «Коммерсанта» <strong>Здание фабрики "Красный Октябрь", Берсеневская набережная, д.6.<br/> 
Время начала: 13:00</strong>
</p><br><p>
Участие в конференции <span style="font-size:bold">бесплатное</span>, но с обязательной <a href="http://railsclub.ru/conferences/register/20?">регистрацией на сайте</a>. Состав участников и докладчиков, а также другие подробности можно узнать там же.
</p><br><p>
В данный момент мы активно формируем состав докладчиков. Если у вас есть интересный доклад или проект на наших технологиях, мы будем рады вас послушать. Мы также рассматриваем вариант оплаты проезда для иногородних или иностранных докдалчиков. По всем вопросам обращайтесь к <a href="http://railsclub.ru/contacts">организаторам</a>.
</p><br><p>
Приходите нашу конференцию! Будет много интересных докладов, приятная атмосфера, возможность пообщаться с коллегами и даже поиграть в бильярд =)
</p> 
</div>

