<div id="about" class="content">
  <h2>Вакансии</h2>
  <p>
We are looking for a Ruby on Rails developer to join our team. 
Requirements to candidates:
<ul>
<li>Strong technical and web development background</li>
<li>Strong RoR skills, experience in Ruby on Rails (not required if candidate is already familiar with other ruby/python frameworks such as Django or Merb)</li>
<li>Experience with RDBMS, *nix operating systems</li>
<li>Experience with web technologies, especially HTML/CSS, Javascript. Experience in JQuery is a big plus.</li>
<li>Understanding of OOP principles, design patterns, development best practices</li>
<li>Understanding of different scalability techniques and caching mechanisms is a plus</li>
<li>Practical experience in test-driven development and agile projects is a plus</li>
<li>Technical English</li>
</ul></p><br /><p>
About the projects:
We are a US registered company with an office in Kiev, some of our team members work remotely. 
Our company is partnering with several key niche players (USA) and currently developing:
<ul>
<li>Social networks</li>
<li>E-commerce solutions</li>
<li>Full-cycle management and B2C/B2B systems </li>
<li>Large scale email marketing systems</li>
</ul></p><br />
<p>
If you are interested or can recommend someone, please write on <strong>lilya.hr@gmail.com</strong> with subject RoR Developer. </p>
</div>
